.header {
  height: 100vh;
  width: 100%;
}

.header-nav {
  height: 102px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}

.header-h1 {
  color: #FFBC3A;
}

.search-form {
  background-color: transparent;
  border: 1px solid #FFBC3A;
}

.search-icon {
  color: #FFBC3A;
  border-left: 1px solid #FFBC3A;
}

.uk-input {
  height: 30px;
}

.hamburger-menu {
  color: #FFBC3A;
}
