.news-random h3 {
  color: #FFBC3A;
}

.news-random  p {
  color: #F3F3F3;
  max-width: 270px;
}

.news-random .uk-overlay-default {
  background-color: transparent;
}

//.news-random .uk-inline {
//  min-width: 100%;
//}
//
//.news-random img {
//  min-width: 100%;
//}