.news-block {
  background-color: #F3F3F3;
  padding-top: 30px;
}

.label-mod {
  background-color: #FFBC3A;
  color: #000;
}

.last-news {
  max-height: 500px;
}

.last-news__overlay {
  overflow: auto;
  padding: 0;
  border: 1px solid #FFBC3A;
  background-color: #ffffff;
}

.discussion {
}


.discussion__overlay {
  overflow: auto;
  padding: 0;
  border: 1px solid #FFBC3A;
  background-color: #ffffff;
}

.discussion__item .label-mod {
  display: inline-block;
}

.discussion__item p {
  max-width: 375px;
}

.comment-icon {
  display: flex;
  justify-content: space-between;
}

.icon-list span {
  color: #FFBC3A;
}

.store__wrapper {
  border: 1px solid #FFBC3A;
}

.store__overlay {
  overflow: auto;
  background-color: #ffffff;
}

.store-card {
  display: flex;
  justify-content: space-between;
}

.card_wrapper {
  position: relative;
  width: 155px;
  height: 75px;
  border: 1px solid #000000;
}

.img__wrapper img {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 45px;
  height: 33px;
}

.card-price__wrapper {
  display: flex;
  justify-content: center;
  height: 16px;
  background-color: #000000;
}

.card-price {
  font-size: 11px;
  line-height: 16px;
  color: #FFBC3A;
}

.store-bot__overlay {
  position: relative;
  height: 65px;
  background-color: #000000;
}

.store-bot__overlay h3 {
  color: #FFBC3A;
}

.store-bot__overlay div {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 90px;
  line-height: 30px;
}

.gaid-main .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000;
}

.gaid-main h3 {
  color: #FFBC3A;
}

.gaid-main p {
  color: #F3F3F3;
  max-width: 270px;
}

.gaid-main .uk-overlay-default {
  background-color: transparent;
}

.gaid-item .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000;
}

.gaid-item h3 {
  color: #FFBC3A;
}

.gaid-item  p {
  color: #F3F3F3;
  max-width: 270px;
}

.gaid-item .uk-overlay-default {
  background-color: transparent;
}

.faq .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000;
}

.faq h3 {
  color: #FFBC3A;
}

.faq  p {
  color: #F3F3F3;
  max-width: 270px;
}

.faq .uk-overlay-default {
  background-color: transparent;
}