.new-event h3 {
  color: #FFBC3A;
}

.new-event  p {
  color: #F3F3F3;
  max-width: 270px;
}

.new-event .uk-overlay-default {
  background-color: transparent;
}

.new-event .uk-label {
  background-color: #FFBC3A;
  line-height: 40px;
  width: 115px;
  height: 40px;
  color: #000;
  padding-left: 20px;
}