.new-main .uk-label {
  background-color: #FFBC3A;
  line-height: 40px;
  width: 115px;
  height: 40px;
  color: #000;
}

.new-main h3 {
  color: #FFBC3A;
}

.new-main  p {
  color: #F3F3F3;
  max-width: 270px;
}

.new-main .uk-overlay-default {
  background-color: transparent;
}