.header {
  height: 100vh;
  width: 100%; }

.header-nav {
  height: 102px; }

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent; }

.header-h1 {
  color: #FFBC3A; }

.search-form {
  background-color: transparent;
  border: 1px solid #FFBC3A; }

.search-icon {
  color: #FFBC3A;
  border-left: 1px solid #FFBC3A; }

.uk-input {
  height: 30px; }

.hamburger-menu {
  color: #FFBC3A; }

.news-block {
  background-color: #F3F3F3;
  padding-top: 30px; }

.label-mod {
  background-color: #FFBC3A;
  color: #000; }

.last-news {
  max-height: 500px; }

.last-news__overlay {
  overflow: auto;
  padding: 0;
  border: 1px solid #FFBC3A;
  background-color: #ffffff; }

.discussion__overlay {
  overflow: auto;
  padding: 0;
  border: 1px solid #FFBC3A;
  background-color: #ffffff; }

.discussion__item .label-mod {
  display: inline-block; }

.discussion__item p {
  max-width: 375px; }

.comment-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.icon-list span {
  color: #FFBC3A; }

.store__wrapper {
  border: 1px solid #FFBC3A; }

.store__overlay {
  overflow: auto;
  background-color: #ffffff; }

.store-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card_wrapper {
  position: relative;
  width: 155px;
  height: 75px;
  border: 1px solid #000000; }

.img__wrapper img {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 45px;
  height: 33px; }

.card-price__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  background-color: #000000; }

.card-price {
  font-size: 11px;
  line-height: 16px;
  color: #FFBC3A; }

.store-bot__overlay {
  position: relative;
  height: 65px;
  background-color: #000000; }

.store-bot__overlay h3 {
  color: #FFBC3A; }

.store-bot__overlay div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 90px;
  line-height: 30px; }

.gaid-main .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000; }

.gaid-main h3 {
  color: #FFBC3A; }

.gaid-main p {
  color: #F3F3F3;
  max-width: 270px; }

.gaid-main .uk-overlay-default {
  background-color: transparent; }

.gaid-item .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000; }

.gaid-item h3 {
  color: #FFBC3A; }

.gaid-item p {
  color: #F3F3F3;
  max-width: 270px; }

.gaid-item .uk-overlay-default {
  background-color: transparent; }

.faq .uk-label {
  background-color: #FFBC3A;
  width: 50px;
  color: #000; }

.faq h3 {
  color: #FFBC3A; }

.faq p {
  color: #F3F3F3;
  max-width: 270px; }

.faq .uk-overlay-default {
  background-color: transparent; }

.news-random h3 {
  color: #FFBC3A; }

.news-random p {
  color: #F3F3F3;
  max-width: 270px; }

.news-random .uk-overlay-default {
  background-color: transparent; }

.new-main .uk-label {
  background-color: #FFBC3A;
  line-height: 40px;
  width: 115px;
  height: 40px;
  color: #000; }

.new-main h3 {
  color: #FFBC3A; }

.new-main p {
  color: #F3F3F3;
  max-width: 270px; }

.new-main .uk-overlay-default {
  background-color: transparent; }

.new-event h3 {
  color: #FFBC3A; }

.new-event p {
  color: #F3F3F3;
  max-width: 270px; }

.new-event .uk-overlay-default {
  background-color: transparent; }

.new-event .uk-label {
  background-color: #FFBC3A;
  line-height: 40px;
  width: 115px;
  height: 40px;
  color: #000;
  padding-left: 20px; }

.footer {
  background-color: #2C2C2C;
  height: 250px; }

.footer__wrapper h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFBC3A; }
